
@{
    ViewData["Title"] = "Users_İnformation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Mvc.TagHelpers;
@model EditProfileViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information Form</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"], select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button {
            background-color: #007bff;
            color: #ffffff;
            padding: 10px 20px;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

            button:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <div class="container">
        <h2>Kullanıcı Bilgisi Ekleme</h2>

        <div class="text-white" asp-validation-summary="ModelOnly"></div>
        <br />
        <p>@ViewBag.e</p>
        <form class="Usersİnformation_form" action="" method="post" enctype="multipart/form-data" >

            <label for="image">Resim:</label>
            <input type="file" asp-for="image">
            <label for="city">Şehir:</label>
            <input type="text" id="city" asp-for="City" >
            <label for="country">Ülke:</label>
            <input type="text" id="country" asp-for="Country" >

            <label for="address">Adres:</label>
            <input type="text" id="address" asp-for="Address" >

            <button type="submit">Bilgileri Ekle</button>
        </form>
    </div>
</body>
</html>
